h1 {
  text-align: center;
  align-items: center;
}

.strong {
  font-family: helvetica;
}

.jumbotron {
  margin-bottom: 0px;
}

.portfolio-title {
  font-style: italic;
  margin: 0px;
}

.whitemoose {
  padding-top: 10px;
}
