h1 {
  text-align: center;
  align-items: center;
}

strong {
  text-shadow: 3px 3px #ba4000;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 30px;
}

.portfolio-title {
  font-style: italic;
  margin: 0px;
}

.whitemoose {
  padding-top: 20px;
}
