h1 {
  text-align: center;
  align-items: center;
}

strong {
  text-shadow: 3px 3px #ba4000;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 30px;
  background-color: #86aeef;
}

.portfolio-title {
  font-style: italic;
  margin: 0px;
}

.whitemoose {
  padding-top: 20px;
}

.col-md-4 {
  min-height: 710px;
  margin-bottom: 0;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

p img {
  float: left;
  padding-right: 20px;
}
body p {
  font-size: 20px;
}

li {
  font-size: 30px;
}

li a{
  font-size: 15px;
}

col-md-3 {
  padding: 0;
}

span {
  font-weight: bold;
}

.row-bottom {
  background-color: yellow;
}
